# DB
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_HOST=
DB_PORT=

# JWT
JWT_SECRET=

# Generate a random 32-byte hex string for JWT_SECRET
# Buffer.from(crypto.getRandomValues(new Uint8Array(16))).toString('hex')
# node -e "console.log(require('crypto').randomBytes(16).toString('hex'))"